#era {
	width: 100%;
	height:auto;
	position:relative;
	#era_scroll {
		position:relative;
		b {
		width:2px;
		background-color:$lipstick;
		z-index:0;
		display:block;
		position:absolute;
		left:calc(50% - 1px);
		}
	}
	.toggle_layer_block {
		display:block !important;
		opacity:1;
		visibility: visible;
		width:100vw;
		position:relative;
		// height:calc(100vh - 50px);
		background-color:white;
		z-index:2;
	}
	.layer_article {
		position:relative;
		width:90vw;
		padding:20px 5vw;
		.boldbtn {
			display:none !important;
			position:absolute;
			bottom:rem(30px);
			left:rem(30px);
			background-color: rgb(34, 34, 34);
			height:rem(50px);
			color: rgb(255,255,255);
			z-index: 30;
		}
	}
	.overline {
		@extend %eng;
		text-transform: uppercase;
		z-index:30;
	}
	.section-header {
		padding-top: rem(50px);
		.text16 {
			width: 80vw;
			color: rgb(102, 102, 102);
		}
	}
	.slider-header {
		margin:rem(30px) 0 rem(15px);
	}
	.container {
		color: $br-gray-color;
		background-color: rgb(51, 51, 51);
		.disco_heading {
			padding-top:rem(50px);
			text-align:center;
		}
		article {
			// padding: rem(60px) 0;
			position: relative;
			.slider-header {
				.overline {
					color: rgb(17, 17, 17);
				}	
			}
			.img {
				background-position: 50% 50%;
				background-size:contain;
				width: 90vw;
				background-repeat: no-repeat;
			}
		}
			article.article_1967 {
				.img1967-1 {
					height: calc(90vw * 502 / 500);
					background-image:url('../img/era/1967-1.jpg');
				}
				.img1967-2 {
					height: calc(90vw * 442 / 520);
					background-image:url('../img/era/1967-2.jpg');
				}
			}
			article.article_boldmarketing, article.article_brief {
				padding:0 0 rem(30px);
			  	background: #f9f9f9;
			  	 .toggle_layer_block {
			  	 	background: #f9f9f9;
			  	 .slider-header {
			  	 	margin:0 0 rem(20px);
			  	 	padding: rem(40px) 0 rem(10px);
				  	 .heading-2 {
		  	 		    font-size: 1.16667rem;
					    line-height: .93333rem;
				  	 	.lipstick {
					    	color: $lipstick;
						 }
					}
			  	 }
			  	 .section-header {
					margin:0;
					padding-top:0;
					.heading-1 {
						font-size:1.5rem;
						padding: 0 0 rem(10px);
					}
			  	 }
			}
		}
			article.article_2b {
				display:none! important;
				height:calc(100vh - 55);
			  	.container {
		    	
						.col:nth-child(1) {
							width:rem(500px);
							height: rem(200px);
							margin:rem(30px) rem(40px);
							.slider-header {
								margin:rem(10px) 0 rem(15px);
							}
						}
						.col:nth-child(2) {
							width:rem(320px);
							height: rem(260px);
							// margin:rem(30px);
							background: $lipstick;
						    text-align: center;
							.btn2b {
								background: rgb(255,255,255);
								color: $lipstick;
								text-align:center;
								width:rem(230px);
								height:rem(50px);
								font-size:rem(16px);
								display:inline-block;
								margin:0 auto;
								@extend %eng;
								&:nth-child(1) {
									margin:rem(65px) auto rem(30px);
								}
							}
						}
					}
				}
			}
			article.article_1975 {
				margin:0;
				.img1975-1 {
					height: calc(90vw * 520 / 500);
					background-image:url('../img/era/1975-1.jpg');
				}
				.img1975-2 {
					height: calc(90vw * 470 / 550);
					background-image:url('../img/era/1975-2.jpg');
				}
			}
			article.article_1990 {
				.img1990-1 {
					height: calc(90vw * 492 / 470);
					background-image:url('../img/era/1990-1.jpg');
				}
				.img1990-2 {
					height: calc(90vw * 520 / 500);
					background-image:url('../img/era/1990-2.jpg');
				}
			}
		}
			.disco_heading {
				width:100%;
				color: $lipstick;
				font-size:rem(18px);
				margin:0 auto;
			}
			.disco {
				position:absolute;
				width: rem(3px);
				height: 100%;
				background-color: rgb(100, 100, 100);
				right:0px;
			}
			article {
				.toggle_open {
					text-align:center;
				}
				.box {
					width:50vw;
					margin:rem(50px) auto;
					padding:rem(30px);
					border: solid 1px rgb(136, 136, 136);
					padding:rem(20px) 0;
					text-align:center;
					background:rgb(51,51,51);
					z-index:2;
					&:after {
						// content:'';
						// position:absolute;
						// width:rem(12px);
						// height:rem(12px);
						// border-radius:100%;
						// right:rem(-27px);
					 //    top: rem(5px);
					 //    background-color: rgb(51, 51, 51);
					}
					p {
						margin-bottom:rem(10px);
						font-size:rem(15px);
						text-align:center;
						color: rgb(245,245,245);
						line-height: rem(20px);
					}
					p.text {
						color: rgb(102, 102, 102);
					}
				}
				.circle {
					border-radius:50%;
					background-color: $lipstick;
					width:30vw;
					height:30vw;
					margin:rem(50px) auto;
					p {
						margin-bottom:rem(10px);
						font-size:rem(15px);
						text-align:center;
						color: rgb(245,245,245);
						line-height: rem(20px);
						padding:rem(35px) 0;
					}
					.h1967 {
						
					}
					.h2b {
						p {
							@extend %eng;
							font-size:rem(24px);
						}
					}
					.h1975 {
				
					}
					.h1990 {

					}
				}
			}

	.owl-item {
		width:100%;
	}
    .item
    {
		.text {
			color:rgb(19,19,19);
			font-size:rem(13px);
		}
	}
	.boldMarketing {
		display:none !important;
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		background-color: rgb(255,255,255);
		z-index:31;
		display:none;
		.slider-header {
			margin:rem(30px) 0 rem(15px);
			letter-spacing:rem(-2px);
		}
		.video {
			width:rem(530px);
			height:rem(397px);
		}
		.container {
    		&.col2 {
				.col:nth-child(1) {
					width:rem(274px);
					height:rem(538px);
					margin:rem(30px) rem(0px) rem(30px) rem(30px);
				}
				.col:nth-child(2) {
					width:rem(530px);
					height:rem(538px);
					margin:rem(30px);
				}
			}
		}
}


/*용각산 및 수사반장 슬라이딩 될때 롤링 2번째에서 글자 안보이는 부분 "!important"로 강제 보이게 함*/
    .article_1975 .heading-2 { opacity: 1!important;transform:translateY(0) !important;}
    /*.article_1975 .item .slider-header { margin: -.5rem 0 .5rem!important;}*/
    .article_1975 .item .text { opacity: 1!important;transform:translateY(0) !important;}

    .article_1967 .heading-2 { opacity: 1!important;transform:translateY(0) !important;}
    /*.article_1967 .item .slider-header { margin: -.5rem 0 .5rem!important;transform:translateY(0) !important;}*/
    .article_1967 .item .text { opacity: 1!important;transform:translateY(0) !important;}
  /*용각산 및 수사반장 슬라이딩 될때 롤링 2번째에서 글자 안보이는 부분 "!important"로 강제 보이게 함*/
