//
// brand-history
//
#history {
    @extend %section-padding-mixed;
    background:$lipstick;
    .heading-2 {
    	color: rgb(255, 255, 255);
    }
	.listofcircle {
		position:relative;
		.grid {
			.round-bubble {
				@extend %eng;
				width: rem(150px);
				height: rem(150px);
				position:relative;
				text-align: center;
				font-size: rem(60px);
				letter-spacing: rem(-2.3px);
				color: $lipstick;
				line-height: rem(142px);
				font-weight:600;
				margin: 0 auto rem(30px);

				.unit {
					display:inline;
					font-size: rem(16px);
					color: $lipstick;
				}
				&:before {
					position:absolute;
					left:0px;
					content:'';
					border-radius:50%;
					width: rem(150px);
					height: rem(150px);
					background-color: rgb(255, 255, 255);
					border: 1px solid rgba(208, 36, 44, 0.5);
					z-index:-1;
				}
			}
			 .desc {
			 	@include text16;
				letter-spacing: rem(-1px);
				color:rgb(255,255,255);
			 }
			
		}
	}
}