// 
// Interview
//
#interview {
  margin:0 auto;
  background-color:#f5f5f5;
  width: 100vw;
  span.interview_title {
    // background-image: url('../img/interview/interview_title.svg');
    // background-size: cover;
    // width: rem(308px);
    // height: rem(106px);
    display:block;
  }
  .section-header {
    height: rem(30px);
    line-height: rem(30px);
    padding: rem(80px) 0 rem(20px);
    margin: 0;
  }
  .type-b {
    margin: 0 0 rem(50px);
    .text {
      color: rgb(245, 245, 245);
      @include text16;
    }
  }
}
