//
//  interview
//

#interview {
	overflow:hidden;
  	position: relative;
  	visibility:hidden;
  	opacity:0;
	@extend %full-screen;
    background: #e5e5e5;
    .closebtn {
		    		position: fixed;
		    		top: rem(80px);
		    		right: rem(30px);
		    		background:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACUAAAAlCAQAAABvl+iIAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCxoUEQePKllyAAAAnUlEQVRIx62W2xGAIAwEtzSa0rJszCL0S8cXSMjyfbfDQHIJLBTyp7BAYU3DTkYWdvNnYC/vKOzTNwKreqKwpj4C+9X2wrp0PaLu2/8JQ2/aEod/umYYqr8v03BXPI2pXr2a0wlyAIwoorAyGSCAmY3ZAGm30t5K+0GtrrRq13pQSwYtr7QU1bJdmzjaHNSms7YzaJuMtl+JW5+2i+6nQmX6M8PhQAAAAABJRU5ErkJggg==');
		    		width:rem(16.5px);
		    		height:rem(16.5px);
		    		background-size: contain;
		    		z-index:100;
		    		opacity:0;
		    	}
    .card-interview {
	.interview-inner {
		@extend %clearfix;
		width:90vw;
		display:block;
		overflow: visible;
		.owl-stage-outer {
			overflow: visible;
		}
		.interview {
			width:90vw;
			height:100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: 50% 50%;
			// opacity: 0;
			transform: translate(0, 10px);
		    transition: all .4s;
		    z-index:5;
		    overflow:hidden;
		    .section-header {
			    .header-img {
			    	width:90vw;
			    	height:calc(90vw * 398 / 510);
			    }
			    .text {
			    	height:rem(80px);
			    	margin:rem(5cx) 0;
			    }
			    .popbtn {
			    	font-size: rem(15px);
			    	color: $text-color-black;
			    	text-align:right;
			    	width:100%;
			    }
			}

		    .wrapper {
		    	padding:0 1rem;
			    p.p-text {
			    	color: $text-color-gray;
			    	font-size: rem(13px);
			    	margin-bottom: rem(30px);
			    	.bold {
			    		font-weight:500;
			    		color: $text-color-white;
			    	}
			    }
	
			    .section-header {
			    	background:white;
			    	.header-img {
			    		width:100%;
			    	}
			    	.text-area {
			    		padding: rem(15px);
				    	h4.p-heading {
					    	text-align:left;
				    		color: $text-color-black;
				    		line-height: rem(27.5px);
				    		padding:0 0 rem(10px);
				    		font-size: rem(21px);
				    		.boldtxt {font-weight:700;}
							.co2 {
								font-size: rem(10px);
				    		}

				    	}
				    	.p-text {
				    		text-align:left;
				    		line-height: rem(20px);
				    		font-size: rem(13px);
				    		padding:rem(15px) 0 rem(10px);
				    		color: $text-color-gray;
				    	}
				    }
			    }
		    }
		    .btn {
		    	font-size: rem(15px);
		    	color: #828080;
		    }
			&.interview1 {
				.header-img {
		    		background: url('../img/interview/header-img1.jpg') no-repeat 50% 50%/cover;
		    	}
			}
			&.interview2 {
				.header-img {
		    		background: url('../img/interview/header-img2.jpg') no-repeat 50% 50%/cover;
		    	}
			}
			&.interview3 {
				.header-img {
		    		background: url('../img/interview/header-img3.jpg') no-repeat 50% 50%/cover;
		    	}
				
			}
			&.interview4 {
				.header-img {
		    		background: url('../img/interview/header-img4.jpg') no-repeat 50% 50%/cover;
		    	}
			}
			&.active {
	        	opacity: 1;
	        	transform: translate(0, 0);
	        	z-index: 10;
			}
		}
	}			
			.interview-nav {
				padding:0 0 0 5vw;
			    .i-nav {
			    	display:inline-block;
			    	font-size: rem(14px);
			    	font-weight: 700;
			    	padding:rem(15px) 0 0;
			    	div {
			    		color: #c2c6ca;
			    		margin: 0 rem(12px);
			    		opacity: .3;
			    		display:inline-block;
				    	&.active {
				    		color: $text-color-orange;
				    		opacity: 1;
				    		z-index: 10;
				    	}
				    }
			    }
			}
		}
	.pop-section {
		position: relative;
		width:100%;
		height:100%;
				@extend %full-screen;
	    .item-pop {
				@extend %full-screen;
		    	position: fixed;
		    	overflow-y: scroll;
		    	top:50px;right:0;bottom:0;left:0;
		    	background-color: #fff;
		    	z-index:99;
		    	span.text-color-orange {
		    		padding:rem(30px) 0 rem(10px);
		    		display:block;
		    	}

		    	.p-heading {
		    		color: $text-color-black;
		    		text-align: left;
		    		line-height: rem(27.5px);
		    		padding: 0 0 rem(15px);
		    		font-size: rem(21px);
		    		.co2 {
		    			font-size: rem(10px);
		    		}
		    	}
			    .desc {
			    	.p-text {
			    		padding-bottom: rem(20px);
			    		color:$text-color-gray;
			    		text-align: left;
			    	}
			    }
			    .owl-dots {
			    	margin: rem(20px) 0 rem(30px);
			    	.owl-dot {
						background-color: $text-color-gray;
			    		&.active {
								background-color: $orange;
			    		}

			    	}
			    }
			    .btn {
			    	display:block;
			    	margin:0 auto;
			    	height:rem(18px);
			    	line-height:rem(18px);
			    	text-align: center;
			    }

	    	  .interview-slider {
			    	// width: 80vw; //rem(400px);
			    	width:100%;
			    	.item {
			    		width: 100vw; //rem(400px);
			    		height: calc(100vw * 360 / 640); //rem(400px);
			    		background: #fff;
			    		background-size:cover;
			    		position:relative;
			    	}

			    }
			    .inner {
			    	background: #fff;
			    }
		    .info- {
	    	&graphic {
	    		position:relative;
	    		height: rem(130px);
	    		padding-top:rem(10px);
	    		svg {
		    		position:absolute;
		    		opacity:1;
	    		}	
	    	}
	    	&title {
		    	font-size: rem(14px);
		    	color: $text-color-muted;
		    	text-align: center;
		    	font-weight:700;
		    	line-height:rem(26px);
		    	padding: rem(10px) 0  rem(5px);
	    		.co2 {
	    			font-size: rem(14px);
	    			b {
		    		font-size:rem(8px);
		    		}
		    	}
		    }
	    	&sub {
		    	font-size: rem(12px);
		    	color: $text-color-gray;
		    	width: 100%;
		    	font-weight: bold;
		    	.co2 {
		    		font-size:rem(5px);
		    	}
		    }
	    	&ref {
	    		width:100%;
	    		position:absolute;
	    		bottom:rem(0px);
	    		color: $text-color-lgray;
	    		text-align:center;
	    		font-size:rem(11px);
	    	}
	    }

		&.pop1 {
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-1-1.jpg') no-repeat 50% 50%/cover;
			    	}	
			    }
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-1-2.jpg') no-repeat 50% 50%/cover;
			    	}	
			    }
		    .owl-item:nth-child(3) {
		    	.item {
				background:#f2f2f2;				
	    		.info-pi {
	    			position: relative;
	    			width:30vw; //rem(400px);
	    			margin:0 auto;
		    		#item1-pi {
					    left: 30%;
					    top: 5%;
					    margin: 0 0 0 -15vw;
					    z-index:10;
					    width:30vw;
		    		}
		    		#line-text {
		    			left:56%;
		    			top:12%;
		    			z-index:0;
		    			width:30vw;
		    		}
			    }
			}
		}
			   }
		    .btn {
		    	width:rem(320px);
		    	display:block;
		    	margin:0 auto;
		    	text-align: center;
		    }
		}
		&.pop2 {
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-2-1.jpg') no-repeat 50% 50%/cover;
			    	}	
			    }
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-2-2.jpg') no-repeat 50% 50%/cover;
			    	}	
			    }
			    .owl-item:nth-child(3) {
	    			.item {
	    				background:#f2f2f2;	
	    				.info-people {
			    			position:relative;
			    			width:100vw; //rem(400px);
			    			height: rem(130px);
			    			margin:0 auto;
				    		.people {
				    			position:absolute;
				    			height:100%;
				    			svg {
				    				position:relative;
			    					&#p2013 {
				    					width:15vw;
				    				}
			    					&#p2030 {
				    					width:18vw;
				    				}
				    				&#p2050 {
										width:25vw;
				    				}
				    			}
				    			.textDesc {
				    				text-align:center;
				    				line-height:1;
				    			}
				    			&.people2013 {
									top:24%;
					    			left:20%;
						    		.textDesc {
					    				color: $text-color-lgray;
					    				font-size: rem(12px);
						    			.numTxt {
						    				font-size: rem(12px);
						    			}
						    		}
				    			}	
				    			&.people2030 {
				    				top:14%;
					    			left:40%;
		    			    		.textDesc {
		    			    			font-size: rem(12px);
					    				color: $text-color-gray;
						    			.numTxt {
						    				font-size: rem(12px);
						    			}
						    		}
				    			}	
				    			&.people2050 {
				    				color: $text-color-muted;
				    				top: 4%;
					    			left: 60%;
			    					.textDesc {
		    			    			font-size: rem(12px);
					    				color: $text-color-orange;
						    			.numTxt {
						    				font-size: rem(12px);
						    				color: $text-color-gray;
						    			}
						    		}
				    			}
				    		}
				    	}
				    }
			    }
				.btn {
					width:rem(200px);
				}
			}
		}
		&.pop3 {
			.interview-slider {
			    	.owl-item:nth-child(1) {
			    		.item {
				    		background: url('../img/interview/bg-interview-3-1.jpg') no-repeat 50% 50%/cover;
				    	}	
				    }
			    	.owl-item:nth-child(2) {
			    		.item {
				    		background: url('../img/interview/bg-interview-3-2.jpg') no-repeat 50% 50%/cover;
				    	}	
			    	}
				     .btn {
				    	width:rem(350px);
				    }
				    .owl-item:nth-child(3) {
			    		.item {
			    			background:#f2f2f2;	
						    .info-bar {
						    	position:relative;
						    	height:rem(130px);
						    	margin-top:rem(10px);
					    		.bar84 {
					    			position:relative;
									top:0;
									left:10%;
					    			#bar84 {
					    				display:inline-block;
					    				height:rem(25px);
					    			}
				    				.textDesc {
					    				color: $text-color-orange;
					    				margin-left:30vw;
					    				font-size: rem(12px);
					    				font-weight:700;
						    			.numTxt {
											color: #000;
											font-size: rem(12px);
											font-weight: 700;
											padding-right: rem(10px);
						    			}
					    			}
					    		}
								.bar21 {
					    			position:relative;
				    				top:10%;
									left:10%;
					    			#bar21 {
					    			height:rem(25px);
					    			}
					    			.textDesc {
					    				color: $text-color-gray;
					    				margin-left:rem(80px);
					    				font-size: rem(12px);
					    				font-weight: 700;
										.numTxt {
						    				font-size:rem(12px);
						    				color: $text-color-muted;
						    				padding-right: rem(10px);
						    			}
					    			}
					    		}
			    			}
			    		}
			    	}
				}
			}
		&.pop4 {
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-4-1.jpg') no-repeat 50% 50%/cover;
		    		}
		    	}	
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-4-2.jpg') no-repeat 50% 50%/cover;
		    		}
		    	}
		        .btn {
			    	width:rem(250px);
			    }
			    .owl-item:nth-child(3) {
			    	.item {
			    		background:#f2f2f2;	
			    		#factory {
			    			width:60vw;
			    			margin:0 auto;
			    		}
					    .info-circle {
					    	margin:0 auto;
					    	width: 60vw;
					    	position: relative;
					    	height: rem(130px);
						    .circle-1 {
						    	position: absolute;
						    	left: rem(40px);
						    	top: rem(60px);
						    	z-index:3;
						    }
				    	    .circle-2 {
						    	position: absolute;
						    	left: rem(130px);
						    	top: rem(50px);
						    	z-index:2;
						    }
				    	    .circle-3 {
						    	position: absolute;
						    	left: rem(180px);
						    	top:rem(100px);
						    	z-index:1;
						    }
						    .factory {
						    	position: absolute;
						    	left:rem(230px);
						    	top: rem(30px);
						    	z-index:0;
						    }
						}
					}
				}
		    }
		}
	}
}
}