//
// origin
//
#origin {
	width:100vw;
	height:100%;
	position:relative;
	.life {
		position: relative;
		width: 100vw;
		height:100%;
		padding:rem(20px) 0 rem(30px);
		// background: url('../img/origin/bg-origin.jpg') no-repeat 50% 50%/cover;
		.tween-slider {
			.item {
				width:90vw;
				height:calc(90vw * 415 / 575);
				background-size:cover;
				background-position: 50% 50%;
				&.img1 {
					border-radius: 10px;
					background-image:url('../img/origin/tweenImg-1.jpg');
				}
				&.img2 {
					border-radius: 10px;
					background-image:url('../img/origin/tweenImg-2.jpg');
				}
			}
		}
		.heading-1 {
			padding:0 0 rem(15px);
		}
		.owl-dots {
			margin-top:rem(20px);
			.owl-dot {
				background-color: $text-color-lgray;
				&.active {
					background-color: $orange;
				}
			}
		}
		.heading-1 {
			color: $text-color-black;
		}
		.text {
				font-size: rem(14px);
				line-height: rem(24px);
				color: $text-color-gray;
				&.bold {
					padding-top: rem(20px);
					font-size: rem(17.5px);
					line-height: rem(25px);
				}
			}
	}
	.energy {
		overflow: hidden;
	  	position: relative;
		@extend %full-screen;
		.color-slider-section {
			position: relative;
		}
		.energy-value {
			position:relative;
			.color-slider {
				width:100%;
				height:100%;
				margin:0 auto;
						.owl-dots {
						position:absolute;
						bottom:rem(20px);
						width:100%;
						text-align: center;
						.owl-dot {
							background: white;
							opacity:0.2;
							&.active {
								opacity: 1;
							}
						}
					}
				.item {
					.sunshine {
						position:absolute;
						right:30vw;
						top:0;
						svg {
							width:20vw;
						}
					}
					// opacity:0;
					z-index:5;
					@extend %full-screen;
					svg {
						position: absolute;
					}
					.icon-panel {
						margin:0 auto;
					}
					.info-text {
						position:relative;
						top: 50%;
					    width: rem(100px);
					    margin: 0 auto;
					    text-align: center;
						.text {
							position:absolute;
							text-align:center;
							display:block;
							width:100%;
							opacity:0;
						}
					}
			
					.info {
						position:relative;
						height:30vw;
						padding:rem(50px) 0 rem(20px) 0;
						.icon-electronics, .icon-food {
							position:absolute;
						}
						.icon-electronics {
							left:0;
						}
						.icon-food {
							right:0;
						}
					}
					.indicator {
						svg {
							width:40vw;
							left:30vw;
							top:33%;
						}
					}
					.icon {
						position:relative;
						height: 30vw;
						width: 30vw;
						border-radius:50%;
						svg {
							height: 16vw;
							width: 16vw;
							top:50%;
							left:50%;
							margin:-8vw 0 0 -8vw;
						}
					}
					.triangle {
							width:75vw;
							height:calc(75vw * 489 / 561);
							margin:0 auto;

						}
						svg {
							width:75vw;
							margin:0 auto;
							height:calc(75vw * 489 / 561);
			
						}
					&.bg-orange {
						z-index:-1;
						background-color: $orange;
						.icon {
							background-color: rgb(249, 145, 39);
						}

					
					}
					&.bg-green {
						z-index:-1;
						background: #5f883c;
						.icon {
							background-color: #449a50;
							&.icon-panel {
								svg {
								width:20vw;
								height:20vw;
								margin:-10vw 0 0 -10vw;
								}
							}
						}
					}
					&.bg-blue {
						z-index:-1;
						background: #154f74;
						.icon {
							background-color: #2a6388;
							&.icon-panel {
								svg {
								width:20vw;
								height:20vw;
								margin:-10vw 0 0 -10vw;
								}
							}
						}
					}
					.desc {
						font-size: rem(15px);
						text-align: center;
						.sub-title {
							font-size: rem(17.5px);
							padding: rem(20px) 0 0;
							text-align:center;
							.bold {
								font-weight:700;
							}
						}
						.text {
							font-size: rem(14px);
							font-weight: 300;
						}
					}
				}
			}
					.fixed-text {
						position:absolute;
						bottom:rem(40px);
						text-align: center;
						color: $text-color-white;
						z-index:10;
					}
		}
	}
}	
		



