// Typography
//
//

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css); 

// Text hierarchy
//
html {
  @include responsive-font-size(); // enable for rem
}


//
// Body Text
//
body {
  background: $body-bg;
  color: $text-color-white;
  font-family: $font-family;
  font-weight: $font-weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
}

//
// Headings
//
h1, h2, h3, h4, h5, h6 {
  font-weight: $heading-font-weight;
  line-height: 1;
  color: $heading-text-color;
  font-family:$font-family;
}

p {
  font-family: $font-family;
}

.heading-1 {
  line-height: 1.26;
  font-size: $heading-1;
  padding: rem(70px) 0 rem(50px);
  text-align:center;
  font-weight:300;
  &.text-color-orange {
    font-weight: bold;
  }
}
.heading-2 {
  font-size: $heading-2;
  text-align:center;

}
.text {
  font-weight:400;
  text-align:center; 
  &.text-color-orange {
    font-weight: bold;
  }
}


//
// Inline elements
//
a {
  color: $link-color;
  text-decoration: none;
  @media (pointer: fine) {
    &:hover {
      color: $link-color-hover;
    }
  }
}

//
// Etc
//
%eng {
  font-family: $font-family-eng;
}
//
// text set
// 
.text-color-orange {
  color: $text-color-orange;
}

.dark {
  color: $text-color-black;
}
.light {
   color: $text-color-white;
}
.gray {
  color: $text-color-gray;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
