//
// contribute
//
#contribute {
    @extend %section-top-margin-narrow;
    .wrapper > .section-header {
    	padding: rem(30px) 0 rem(100px);
    } 
    .chart {
	    position: relative;
    	background-color: #fff;
    	.mix_chart {
			background-color: $bg-gray;
			padding: rem(50px) 0;
			width:65%;
    	}
    	.pie_chart {
    		position:absolute;
    		right:0px;
    		top: rem(80px);
    		width: 40%;
    		height:rem(521px);
    		background: url('../img/contribute/bg-chart-2.jpg') no-repeat 0% 50%/cover;
    		svg { 
    			position: absolute;
				top:0;right:0;bottom:0;left:0;
    		}
    	}
    	p.text {
    		padding: rem(100px) 0; 
    	}
    }
    .info-graphic {
		background-color: $bg-gray;
		padding: rem(30px) 0 rem(100px);
	    .icon {
	    	display:inline-block;
	    	&.icon-tree {
	    	}
		    &.icon-space {

		    }
	    }
	    .sub-header {
	    	display:inline-block;
	    	.title {
	    		font-size: rem(25px);
	    		font-weight: 600;
	    		color: $text-color-gray;
	    	}
	    	.text {
	    		text-align: left;
	    		color: $text-color-gray;
	    	}
	    }
    }
}