//
// brand-era
//
#era {
	background-color: rgb(51, 51, 51);
	width: 100%;
	height:auto;
	.overline {
		@extend %eng;
		text-transform: uppercase;
		z-index:30;
	}
	.section-header {
		padding-top: rem(120px);
		.text16 {
			width: rem(762px);
			height: rem(120px);
			color: $br-gray-color;
		}
	}
	.slider-header {
		margin:rem(100px) 0 rem(15px);
	}
	.container.col2 {
		.col:nth-child(1) {
			width: rem(900px);
			position: relative;
			article {
				background-color: rgb(255, 255, 255);
				margin: rem(60px) 0;
				position: relative;
				.slider-header {
					.overline {
						color: rgb(17, 17, 17);
						position:absolute;
						top: rem(50px);
						left: rem(30px);
					}	
				}
				.boldbtn {
					position:absolute;
					bottom:rem(60px);
					left:rem(30px);
					background-color: rgb(34, 34, 34);
					height:rem(50px);
					color: rgb(255,255,255);
					z-index: 30;
				}
				.img {
					background-position: 50% 50%;
					background-size:contain;
					width:rem(470px);
					height:rem(538px);
					background-repeat: no-repeat;
				}
			}
			// article.article_1962 {
			// 	height: rem(600px);
			// }
			article.article_1967 {
				height: rem(600px);
				.img1967-1 {
					background-image:url('../img/era/1967-1.jpg');
				}
				.img1967-2 {
					background-image:url('../img/era/1967-2.jpg');
				}
			}
			// article.article_1970 {
			// 	height: rem(600px);
			// }
			article.article_2b {
				position:relative;
				&:after {
					content:'';
					position:absolute;
					width: rem(30px);
					height: rem(50px);
					right:-30px;
					top:50%;
					margin-top:rem(-25px);
					background-image:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAABDCAMAAADZE7fGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAANlBMVEUAAADQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCzQJCz///9crNjXAAAAEHRSTlMAzxDfMO9QcJ9gv0CPryCAHvegpAAAAAFiS0dEEeK1PboAAAAHdElNRQfhChAOAwlTCuvUAAAA1klEQVRIx63WRw7CQBQEUUewiX3/0yIwAuP4Fsy6ZE15fuiirAo7qRsE0x4QTI4KplMwoDSAoPQG95XyOb2CO0ojMKcKwZQNgmnPCG4oTcFVpRm4pjQHV5QWwLQNgotKy2AuCuZaIZjyhuBUKRunV/BHaRNMVyE46rod8Ku0B6btEUzuCg5KAr6UCHwqGZj6z1/UO6o1/kd9GX1rrR6tR61w7BntQu1rnRQ6e3Ca6XycaqyBOsN1K+Ce0c2lu1C3q+5rTACaKTSlaO7RJIXZTNOe5kdNpA8nAVPe1YyaYQAAAABJRU5ErkJggg==');
					background-size:contain;
					background-repeat:no-repeat;
				}
				height: rem(260px);
			  	.container {
		    		&.col2 {
						.col:nth-child(1) {
							width:rem(500px);
							height: rem(200px);
							margin:rem(30px) rem(40px);
							.slider-header {
								margin:rem(10px) 0 rem(15px);
							}
						}
						.col:nth-child(2) {
							width:rem(320px);
							height: rem(260px);
							// margin:rem(30px);
							background: $lipstick;
						    text-align: center;
							.btn2b {
								background: rgb(255,255,255);
								color: $lipstick;
								text-align:center;
								width:rem(230px);
								height:rem(50px);
								font-size:rem(16px);
								display:inline-block;
								margin:0 auto;
								@extend %eng;
								&:nth-child(1) {
									margin:rem(65px) auto rem(30px);
								}
							}
						}
					}
				}
			}
			div.bg_1975 {
				background-image:url('../img/era/bg_1975.jpg');
				background-position: 50% 50%;
				width:100%;
				padding:rem(100px) 0;
				height:rem(600px);
				position:fixed;
				top:0;left:0;right:0;bottom:0;
			}
			article.article_1975 {
				height: rem(600px);
				.img1975-1 {
					background-image:url('../img/era/1975-1.jpg');
				}
				.img1975-2 {
					background-image:url('../img/era/1975-2.jpg');
				}
			}
		
			// article.article_1980era {
			// 	height: rem(600px);
			// }
			// article.article_1990era {
			// 	height: rem(600px);
			// }
			article.article_1990 {
				height: rem(600px);
				.img1990-1 {
					background-image:url('../img/era/1990-1.png');
				}
				.img1990-2 {
					background-image:url('../img/era/1990-2.jpg');
				}
			}
		}
		.col:nth-child(2) {
			width: rem(180px);
			height:100%;
			position:relative;
			.disco_heading {
				text-align:right;
				margin: rem(65px) 0 0;
				p {
					font-family:$font-family;
					color: $lipstick;
					font-size:rem(18px);
					letter-spacing:rem(-2px);
				}
			}
			.disco {
				position:absolute;
				width: rem(3px);
				height: 100%;
				background-color: rgb(100, 100, 100);
				right:0px;
			}
			.historytext {
				width:rem(160px);
				margin-right:rem(10px);
				div {
					display:block;
					position:relative;
					&:after {
						content:'';
						position:absolute;
						width:rem(12px);
						height:rem(12px);
						border-radius:100%;
						right:rem(-27px);
					    top: rem(5px);
					    background-color: rgb(51, 51, 51);
					}
					p {
						// @extend %eng;
						margin-bottom:rem(10px);
						font-size:rem(14px);
						text-align:right;
						color: rgb(245,245,245);
						line-height: rem(20px);
						.num {
							font-size:rem(28px);
							line-height: rem(28px);
						}
					}
					&.h1962 {
						&:after {
  							border:2px solid rgb(245,245,245);  
						}
					}
					&.h1967 {
						margin-top:rem(240px);
						&:after {
  							border:2px solid $lipstick;  
						}
					}
					&.h1970 {
						margin-top:rem(200px);
						&:after {
  							border:2px solid rgb(245,245,245);  
						}
					}
					&.h2b {
						p {
							@extend %eng;
							font-size:rem(24px);
							color:$lipstick;
							margin-right:rem(10px);
						}
						margin-top:rem(115px);
						&:before {
							content:'';
							position:absolute;
							width:rem(30px);
							height:rem(30px);
							border-radius:100%;
							right:rem(-34px);
						    top: rem(-2px);
						    background-color: rgb(51, 51, 51);
						    border:2px solid $lipstick; 
						}
						&:after {
  							border:4px solid $lipstick;  
						}
					}
					&.h1975 {
						margin-top:rem(220px);
						&:after {
  							border:2px solid $lipstick;  
						}
					}
					&.h1980era {
						margin-top:rem(240px);
						&:after {
  							border:2px solid rgb(245,245,245);  
						}
					}
					&.h1990era {
						margin-top:rem(220px);
						&:after {
  							border:2px solid rgb(245,245,245);  
						}
					}
					&.h1990 {
						margin-top:rem(100px);
						&:after {
  							border:2px solid $lipstick  
						}
					}

				}
			}
		}
	}

	.owl-item {
		width:rem(900px) !important;
	}
    .item
    {
    	&.container {
    		&.col2 {
				.col:nth-child(1) {
					width:rem(320px);
					height:rem(538px);
					margin:rem(30px) rem(20px) rem(30px) rem(30px);
					.slider-header {
						margin:rem(150px) 0 rem(15px);
					}
				}
				.col:nth-child(2) {
					width:rem(470px);
					height:rem(538px);
					margin:rem(30px);
				}
			}
		}
	}
	.boldMarketing {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		height: rem(600px);
		background-color: rgb(255,255,255);
		z-index:31;
		.slider-header {
			margin:rem(60px) 0 rem(15px);
			letter-spacing:rem(-2px);
		}
		.video {
			width:rem(530px);
			height:rem(397px);
		}

		.container {
    		&.col2 {
				.col:nth-child(1) {
					width:rem(274px);
					height:rem(538px);
					margin:rem(30px) rem(0px) rem(30px) rem(30px);
				}
				.col:nth-child(2) {
					width:rem(530px);
					height:rem(538px);
					margin:rem(30px);
				}
			}
		}
	}

}
