//
// brand-era
//
#era {
	background-color: rgb(51, 51, 51);
	width: 100%;
	height:auto;
	.overline {
		@extend %eng;
		text-transform: uppercase;
		z-index:30;
	}
	.section-header {
		padding-top: rem(120px);
		.text16 {
			width: rem(762px);
			height: rem(120px);
		}
	}
	.slider-header {
		margin:rem(100px) 0 rem(15px);
	}
	

	.owl-item {
		width:rem(900px) !important;
	}
    .item
    {
    	&.container {
    		&.col2 {
				.col:nth-child(1) {
					width:rem(320px);
					height:rem(538px);
					margin:rem(30px) rem(20px) rem(30px) rem(30px);
					.slider-header {
						margin:rem(150px) 0 rem(15px);
					}
				}
				.col:nth-child(2) {
					width:rem(470px);
					height:rem(538px);
					margin:rem(30px);
				}
			}
		}
	}
	.boldMarketing {
		position:absolute;
		top:0;
		left:0;
		right:0;
		bottom:0;
		width:100%;
		height: rem(600px);
		background-color: rgb(255,255,255);
		z-index:31;
		.slider-header {
			margin:rem(60px) 0 rem(15px);
			letter-spacing:rem(-2px);
		}
		.video {
			width:rem(530px);
			height:rem(397px);
		}

		.container {
    		&.col2 {
				.col:nth-child(1) {
					width:rem(274px);
					height:rem(538px);
					margin:rem(30px) rem(0px) rem(30px) rem(30px);
				}
				.col:nth-child(2) {
					width:rem(530px);
					height:rem(538px);
					margin:rem(30px);
				}
			}
		}
	}

}
