// Grid
//
//


.container {
  @extend %clearfix;
  &.col2 {
    > .col {
      width: calc(50% - 10px);
        &:nth-child(1) {
          float: left;
          box-sizing: border-box;
        }
        &:nth-child(2) {
          float: right;
          box-sizing: border-box;
        }
      }
  }
}

.container-flex {
    display:flex;
    &.col2 {
      > .col {
        width:50%;
      }
    }
}