  //
  // Hero
  //
  #hero {
    overflow: hidden;
    position: relative;
    .wrapper {
      z-index: 11;
      position: relative;
      height: 100%;
    }

    .hero-intro {
        
      @extend %full-screen;
        
      .bg_layer {
        position:absolute;
        width:100%;
        height:100%;
        background-color: rgba(0,0,0, .15);
        z-index:11;
      }
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      // padding-bottom: rem(128px);
      text-align: center;
      #hero-video {
        position:absolute;
        width:100%;
        height:100%;
        top:0;left:0;right:0;bottom:0;      
        overflow:hidden;
        z-index:10;
        .play {
        &:after {
          content:none;
        }
      }
    }
      .heading {
        font-size: rem(72px);
        line-height: rem(95px);
        font-weight: 600;
        padding: rem(280px) 0 rem(100px);
      }
      .hero-sub-title {
        font-size: rem(18px);
        line-height: rem(38px);
        letter-spacing: rem(10px);
        color: $text-color-orange;
      }
      .hero-indicator {
        position: relative;
        bottom: rem(30px);
        left: 0;
        right: 0;
        background:url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAtCAQAAABl7aGhAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCx4SKwJRBphhAAABoklEQVRIx+2WsU7bUBhGjx3lsrpiysrSzkgIITWVGAoLnckDVKVPgcIzFPEW6V66FK+olWBFYiZuKGVoUcJwOkQuOKlpesuY/x/t78j3evhOIlPTZJOXrLBExgIw5DvnHPORD9xOvW11M7sW1s1Xu2bVRDXe8ULVU3ddt2UQMdhy3V1PVb2w82dAwwNVc9tSs22PVD2wMQlo2FNv3DGpjSMm7nij9kpE+eCdeuXag+Fy1/ym7t8HbKs/XZ0pjrjqD3W7BGT21bczxxHfqH2zMaCr5n85+/Rd5GpXMFjoAzdf/0e0MOCWevLPccQTdStlA3hPzPSAzZRlII8C5MAyFmor6ggttUgcElhgFPEFgSGjRIEk6gggpJHR3zMHzAFzwKMBRkCIygZglHINLEYBFoHrlDPgWRTgKXCW8hloRwFeAF/+txdeYXCgPo9vpnE3forvxrh2fq0WZTvH+kGn9APEffVyZkO5nDSUR3CkO0s7irO08XbsVzyxKWKz4on9Ok8cb+aeg1pTHbg3aapJjStvsMIST2gCt1xxzjGHHE63+C9HEEpVLTDxnwAAAABJRU5ErkJggg==');
        position: absolute;
        width: rem(32px);
        height: rem(45px);
        z-index: 19;
        margin: 0 auto;
        .link {
          display: block;
          width: 12px;
          height: 8px;
          margin: rem(10px) auto;
          background: url('data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAICAQAAABn7dZ6AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfhCwsRBim4ESI6AAAATElEQVQI103LQRHAMAgF0Z/BTBSESsZK3eBge2CggRP7BiE2hq41NhIPSVxkBIkLJ2HICCA54qbJqN6bKjtqaJr8Q9FktNDM0dLbxwdjBXEgc8MxSAAAAABJRU5ErkJggg==') 50% 50% no-repeat;
        }
      }
    }
    .hero-sub {
      padding: rem(130px) 0 rem(70px);
      background-color: $orange;
      .text-intro {
        font-weight: 400;
        font-size: rem(18px);
        line-height: rem(32px);
        color: $text-color-white;
        text-align: center;
        padding:rem(50px) 0;
        span {
          font-weight: 700;
          font-size: rem(25px);
          line-height: rem(50px);
        }
      }
    }
  }