//
//  interview
//

#interview {
	overflow: hidden;
  	position: relative;
	@extend %full-screen;
	.interview-inner {
		@extend %clearfix;
	}
	.interview {
		position: absolute;
		top:0;right:0;bottom:0;left:0;
		width:100%;
		height:100%;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		// opacity: 0;
		transform: translate(0, 10px);
	    transition: all .4s;
	    z-index:5;
	    float:left;
	    .wrapper {
	    	margin:rem(50px) auto;
	    	.counter {
				@extend %eng;
	    		width: rem(400px);
	    		color: $text-color-lgray;
	    		text-align: center;
	    		display:block;
	    		margin:rem(20px) 0;
	    		.activeNum {
	    			color: #fff;
	    		}
	    	}
		    p {
		    	color: #ccc;
		    	font-size: rem(14px);
		    	margin-bottom: rem(25px);
		    	.bold {
		    		font-weight:500;
		    		color: $text-color-white;
		    	}
		    }
		    .nav {
		    	display:inline-block;
		    	font-size: rem(20px);
		    	font-weight: 700;
		    	a {
		    		color: #fefefe;
		    		margin: 0 rem(25px);
		    		opacity: .3;
		    		cursor: default;
			    	&.active {
			    		color: $text-color-orange;
			    		opacity: 1;
			    		z-index: 10;
			    	}
			    }
		    }
		    .section-header {
		    	// height: rem(200px);
		    	padding: rem(20px) 0 rem(50px);
		    	h4.heading {
		    		font-weight: 700;
		    		font-size: rem(35px);
		    		line-height: rem(40px);
		    		.co2 {
						    font-weight: 400;
						    font-size:rem(26px);
						  }
		    	}
		    }
		    .interview-slider {
		    	width: rem(400px);
		    	.item {
		    		border-radius: 50%;
		    		width: rem(400px);
		    		height: rem(400px);
		    		background: #fff;
		    	}
		    }
	    }
	    .info- {
	    	&graphic {
	    		position:relative;
	    		svg {
		    		position:absolute;
		    		opacity:1;
	    		}	
	    	}
	    	&title {
		    	font-size: rem(18px);
		    	color: $text-color-muted;
		    	text-align: center;
		    	font-weight:700;
		    	line-height:rem(26px);
		    	padding: rem(50px) 0  rem(15px);
		    }
	    	&sub {
		    	font-size: rem(15px);
		    	color: $text-color-gray;
		    	width: rem(320px);
		    }
	    	&ref {
	    		color: $text-color-lgray;
	    		text-align:center;
	    	}
	    }
	    .btn {
	    	font-size: rem(15px);
	    	color: $text-color-gray;
	    }
		&.interview1 {
			background-image: url('../img/interview/bg-interview-1.jpg');
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-1-1.png') no-repeat 50% 50%/cover;
			    	}	
			    }
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-1-2.png') no-repeat 50% 50%/cover;
			    	}	
			    }
		    }
		    .btn {
		    	width:rem(320px);
		    }
    		.info-pi {
    			position: relative;
    			height:rem(180px);
    			width:rem(400px);
	    		#item1-pi {
				    left: 50%;
				    top: 5%;
				    margin: 0 0 0 rem(-120px);
				    z-index:10
	    		}
	    		#item1-lines {
	    			left:49%;
	    			top:10%;
	    			z-index:0;
	    		}
	    		.textBox {
	    			position:relative;
	    			line-height:1;
	    			left:70%;
	    			top:8%;
	    			width:rem(80px);
		    		.textDesc {
		    			position:absolute;
	    				&1 {
	    					left:rem(-10px);
	    					top: rem(-5px);
		    				font-size: rem(15px);
	    					color:$text-color-orange;
		    				.numTxt {
		    					font-size: rem(24px);
		    				}
			    		}
		    			&2 {
		    				left:rem(0px);
		    				top:rem(60px);
		    				font-size: rem(13px);
	    					color:$text-color-gray;
		    				.numTxt {
		    					font-size: rem(20px);
		    				}
			    		}
		    			&3 {
		    				left:rem(10px);
		    				top:rem(120px);
		    				font-size: rem(13px);
	    					color:$text-color-lgray;
		    				.numTxt {
		    					font-size: rem(20px);
		    				}
			    		}
		    		}
		    	}
		    }
		}
		&.interview2 {
			background-image: url('../img/interview/bg-interview-2.jpg');
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-2-1.png') no-repeat 50% 50%/cover;
			    	}	
			    }
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-2-2.png') no-repeat 50% 50%/cover;
			    	}	
			    }
			    .btn {
			    	width:rem(200px);
			    }
	    		.info-people {
	    			position:relative;
	    			height:rem(184px);
	    			width:rem(400px);
		    		.people {
		    			position:absolute;
		    			svg {
		    				position:relative;
		    			}
		    			.textDesc {
		    				text-align:center;
		    				line-height:1;
		    			}
		    			&.people2013 {
							top:24%;
			    			left:15%;
				    		.textDesc {
			    				color: $text-color-lgray;
			    				font-size: rem(20px);
				    			.numTxt {
				    				font-size: rem(18px);
				    			}
				    		}
		    			}	
		    			&.people2030 {
		    				top:12%;
			    			left:33%;
    			    		.textDesc {
    			    			font-size: rem(20px);
			    				color: $text-color-gray;
				    			.numTxt {
				    				font-size: rem(18px);
				    			}
				    		}
		    			}	
		    			&.people2050 {
		    				color: $text-color-muted;
		    				top: -1%;
			    			left: 55%;
	    					.textDesc {
    			    			font-size: rem(20px);
			    				color: $text-color-orange;
				    			.numTxt {
				    				font-size: rem(18px);
				    				color: $text-color-gray;
				    			}
				    		}
		    			}
		    		}
		    	}
		    }
		}
		&.interview3 {
			background-image: url('../img/interview/bg-interview-3.jpg');
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-3-1.png') no-repeat 50% 50%/cover;
			    	}	
			    }
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-3-2.png') no-repeat 50% 50%/cover;
			    	}	
		    	}
			     .btn {
			    	width:rem(350px);
			    }
			    .info-bar {
			    	position:relative;
			    	height:rem(150px);
			    	margin-top:rem(30px);
		    		.bar84 {
		    			position:relative;
						top:0;
						left:10%;
		    			#bar84 {
		    				display:inline-block;
		    			}
	    				.textDesc {
		    				color: $text-color-orange;
		    				margin-left:rem(100px);
		    				font-size: rem(28px);
		    				font-weight:700;
		    				position: inherit;
			    			.numTxt {
								color: $text-color-white;
								font-size: rem(28px);
								font-weight: 700;
								padding-right: rem(30px);
			    			}
		    			}
		    		}
					.bar21 {
		    			position:relative;
	    				top:10%;
						left:10%;
		    			#bar21 {
		    			}
		    			.textDesc {
		    				color: $text-color-gray;
		    				margin-left:rem(80px);
		    				font-size: rem(18px);
		    				font-weight: 700;
							.numTxt {
			    				font-size:rem(26px);
			    				color: $text-color-muted;
			    			}
		    			}
		    		}
		    	}
		    }
		}
		&.interview4 {
			background-image: url('../img/interview/bg-interview-4.jpg');
			.interview-slider {
		    	.owl-item:nth-child(1) {
		    		.item {
			    		background: url('../img/interview/bg-interview-4-1.png') no-repeat 50% 50%/cover;
		    		}
		    	}	
		    	.owl-item:nth-child(2) {
		    		.item {
			    		background: url('../img/interview/bg-interview-4-2.png') no-repeat 50% 50%/cover;
		    		}
		    	}
		        .btn {
			    	width:rem(250px);
			    }
			    .info-circle {
			    	position: relative;
			    	height: rem(180px);
		    	 	.textDesc {
			    		text-align:center;
			    		position: relative;
			    		padding: 15% 0;
			    	}
				    .circle-1 {
				    	width: rem(124px);
				    	position: absolute;
				    	left: rem(40px);
				    	top: rem(60px);
				    	z-index:3;
				    }
		    	    .circle-2 {
		    	    	width :rem(84px);
				    	position: absolute;
				    	left: rem(130px);
				    	top: rem(50px);
				    	z-index:2;
				    }
		    	    .circle-3 {
		    	    	width: rem(65px);
				    	position: absolute;
				    	left: rem(180px);
				    	top:rem(100px);
				    	z-index:1;
				    }
				    .factory {
				    	position: absolute;
				    	left:rem(230px);
				    	top: rem(30px);
				    	z-index:0;
				    }
				}
		    }
		}
		&.active {
        	opacity: 1;
        	transform: translate(0, 0);
        	z-index: 10;
		}
	}

}
