//
// origin
//
#origin {
  width: 100vw;
  height: 100%;
  position: relative;
  .life {
    position: relative;
    width: 100vw;
    height: rem(650px);
    padding: rem(150px) 0 rem(50px);
    span.bold {font-weight:bold;font-size:rem(25px);}
    .text {
      line-height: rem(33px);
    }
    .col:nth-child(1) {
      width: rem(720px);
    }
    .col:nth-child(2) {
      width: rem(360px);
    }
    .owl-stage-outer {
        overflow:hidden;
    }
          .owl-dots {
        text-align:left;
        .owl-dot {
          background:$text-color-gray;
          &.active {
            background:$orange;
            opacity:1;
          }
        }
      }
    .owl-stage {
      position:relative;

    }
    .owl-item {
      position:relative;
           width: rem(692px);
            height: rem(600px);
                       opacity:0.2;
        
       .item {
            right:0px;
            bottom:0px;
            position:absolute;
            width: rem(692px);
            height: rem(600px);
            background-repeat: no-repeat;
            background-size: cover;
     transform:scale(.2);
            &.life1 {
              background: url('../img/origin/life-1.png');
            }
            &.life2 {
              background: url('../img/origin/life-2.png');
            }
          }
          &.active {
              
                     opacity:1;
    .item {
        position: absolute;
        top:0px;left:0px;
            transform:scale(1);
      }
      }
        }

    .section-header {
      .heading-1 {
        text-align: left;
        color: $text-color-black;
      }
    }
    .text {
      color: $text-color-gray;
      text-align: left;
    }
  }
  .energy {
    overflow: hidden;
    position: relative;
    @extend %full-screen;
    background: url('../img/origin/bg-slide.png') no-repeat 0% 50%/cover;
    .energy-value {
      .color-slider {
        @extend %full-screen;
        position: absolute;
        z-index: -1;
        .item {
          position: absolute;
          width: 100vw;
          height: calc(100vh - 78px);
          &.bg-orange {
            background-color: $orange;
          }
          &.bg-green {
            background: #5f883c;
          }
          &.bg-blue {
            background: #2a6388;
          }
        }

        .sub-header {
          .heading-2 {
            font-size: rem(24px);
            padding: rem(30px) 0 0;
            text-align: center;
            .bold {
              font-weight: 700;
            }
          }
          .p-text {
            font-size: rem(18px);
            line-height: rem(33px);
            text-align: center;
            margin: rem(10px) 0 rem(20px);
          }
          .info-ref {
            text-align: center;
          }
        }
        svg {
          position: absolute;
          &.panel-base {
            top: 30px;
            left: 50%;
            margin-left: rem(-150px);
          }
        }
      }
      .info {
        >div {
          display: inline-block;
        }
      }
      .data {
        font-size: rem(36px);
        font-weight: 700;
        text-align: center;
      }
      .desc {
        font-size: rem(15px);
        text-align: center;
      }
      &.active {
        opacity: 1;
        z-index: 10;
        transform: translate(0, 0);
      }
    }
    .item {
    	opacity:0;
       &.bg-orange {
      	opacity:1;
        .icon {
          background-color: #f99127;
        }
      }
      &.bg-green {
      	opacity:1;
        .icon {
          background: #2a7635;
        }
      }
      &.bg-blue {
      	opacity:1;
        .icon {
          background: #154f74;
        }
      }
    .section-header {
      .heading-1 {
              font-size: rem(40px);
                padding: rem(50px) 0 rem(20px);
          }
    }
}
    .graphics {
      margin: rem(70px) 0 0;
      &:after {
        content: '';
        clear: both;
        display: table;
      }
      .icon {
        width: rem(180px);
        height: rem(180px);
        border-radius: 50%;
        display: block;
        position: relative;
        margin: 0 auto;
        svg {
          position: absolute;
        }
      }
      .icon-food,
      .icon-panel,
      .icon-electronics {
        width: rem(230px);
        float: left;
      }
      .icon-electronics {
        margin: 0 rem(175px);
      }
      .descText {
        font-size: rem(32px);
        text-align: center;
        letter-spacing: rem(-2px);
        font-weight: 700;
      }
    }


    // .owl-item:nth-child(1) {
      .item:nth-child(1) {
        // .item:nth-child(1) {
        z-index: 10; // &.active {
        .icon-panel {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-50px) 0 0 rem(-56px);
          }
        }
        .icon-food {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-55px) 0 0 rem(-45px);
          }
        }
        .icon-electronics {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-56px) 0 0 rem(-56px);
          }
        } // }
      }
    // }
    // .owl-item:nth-child(2) {
      .item:nth-child(2) {
        z-index: 10; // &.active {
        .icon-panel {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-51px) 0 0 rem(-72px);
          }
        }
        .icon-food {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-50px) 0 0 rem(-47px);
          }
        }
        .icon-electronics {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-52px) 0 0 rem(-44px);
          }
        } // }
      }
    // }
    // .owl-item:nth-child(3) {
      .item:nth-child(3) {
        z-index: 10; // &.active {
        .icon-panel {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-50px) 0 0 rem(-58px);
          }
        }
        .icon-food {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-54px) 0 0 rem(-56px);
          }
        }
        .icon-electronics {
          svg {
            top: 50%;
            left: 50%;
            margin: rem(-22px) 0 0 rem(-57px);
          }
        }
      }
    // }
    .fixed-content {
      position: absolute;
      background: url('../img/origin/bg-slide.png') no-repeat 0% 50%/cover;
      bottom: 0;
      right: 0;
      left: 0;
      top: 0;
      z-index: 2;
      @extend %full-screen;
      .fixed-inner {
        position: relative;
        .heading-1 {
          padding: rem(80px) 0;
          text-align: left;
        }
        .text {
          text-align: left;
        }
        .indicator,
        .sunshine {

          z-index: 11;
        }
        .indicator {
          position: relative;
          margin: rem(160px) 0 0;
          text-align: center;
        }
      }
        .owl-dots {
        	position:absolute;
        	bottom:rem(15px);
        	left:0;
        	right:0;
        	.owl-dot {
        		&.active {
					background-color: #fff;
					opacity:1;
        		}
        	}
        }
    }
  }
}