// Variables - PC
//
//


// Color
//
$orange: #f37321;

$text-color-white: 	  #ffffff;
$text-color-black: 	  #000000;
$text-color-muted: 	  #222222;
$text-color-gray: 	  #606060;
$text-color-lgray: 	  #999999;

$body-bg:             #fff;
$bg-gray:             #efefef;
$bg-orange:           #f99127;
$bg-green:            #5f883c;
$bg-blue:			  #2a6388;
	

// Typography
//
$font-family:         'Noto Sans KR', sans-serif;
$font-family-eng:     'Montserrat', sans-serif;
$font-weight:         400;
$line-height:         1.777;
$line-height-small:   1.5;
$letter-spacing:      -.05em;
// font-size 아래 이외 폰트는 변수를 사용하지 않고 직접 입력함. 66, 56, 45, 42, 34, 32, 30, 28, 26, 24, 20, 16 등등..
$font-size-base:      16px; // 디자인 기준 폰트 사이즈, rem 함수 기준
$font-sizes: (
  xs: 16px,
  xl: $font-size-base
);

$font-size-smaller:   rem(12px);
$font-size-small:     rem(14px);
$font-size-lead:      rem(22px);

$heading-1:           rem(48px);
$heading-2:           rem(30px);
$heading-font-weight: 400;
$heading-text-color:  $text-color-dark;
$heading-line-height: 1.26;

$link-color:          $text-color-white;
$link-color-hover:    $text-color-white;


// Responsive Design
//
$breakpoints: (
  xs:     0,
  //sm:   425px,
  //md:   800px,
  //lg:  1024px,
  xl:  1100px,
  xxl: 1400px
);


// Layout
//
$min-width: 1080px;
$min-width-xs: 960px;

$header-height: 78px;

$vertical-margin-1: 150px; // section top margin
$vertical-margin-2: 100px; // section bottom margin